fastapi
uvicorn[standard]
langchain
langchain-groq
langchain-community
python-dotenv
python-multipart
tiktoken
pydantic
chromadb
uvicorn
python-docx
PyPDF2
httpx
requests
transformer
groq
pymongo
huggingface-hub
sentence-transformers
