fastapi
uvicorn[standard]
langchain
langchain-groq
langchain-openai
langchain-community
python-dotenv
python-multipart
tiktoken
pydantic
chromadb
uvicorn
python-docx
PyPDF2
pypdf
httpx
requests
transformers
groq
pymongo
huggingface-hub
sentence-transformers
