fastapi
uvicorn[standard]
langchain
langchain-groq
langchain-openai
langchain-core
langchain-community
python-dotenv
python-multipart
tiktoken
pydantic
uvicorn
python-docx
PyPDF2
pypdf
httpx
requests
groq
pymongo
sentence-transformers
numpy
